.duration-select {
  margin: 20px 0 0 0;
}

.main-header {
  color: #0b2994a9;
  margin-top: 30px;
  margin-bottom: 25px;
}

.main-text-paragraph {
  color: rgba(3, 9, 39, 0.596);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.8;
}
